:root {
  /*colors*/
  --accent-color: #2196f3;
  --accent-hover: #188CE8;
  --logo-main-color: #000;
  --light-main-color: #ffffff;
  --dark-grey: #757575;
  --background-dark-color: #2f303a;
  --filter-btn-background-color: #f5f4fa;
  --main-body-color: #212121;
  --social-link-grey: #afb1b8;
  /*fonts*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

.hidden-title {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--main-body-color);
  background-color: var(--light-main-color);
  font-size: 14px;
}

/*
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
   */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  letter-spacing: inherit;
  color: var(--light-main-color);
  background: var(--accent-color);
  cursor: pointer;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f;
          box-shadow: 0px 2px 2px 0px #0000001f;
  -webkit-box-shadow: 0px 1px 2px 0px #00000014;
          box-shadow: 0px 1px 2px 0px #00000014;
  -webkit-box-shadow: 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 3px 1px 0px #0000001a;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  background-color: var(--accent-hover);
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--light-main-color);
  border-color: rgba(0, 0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--logo-main-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover, .close-modal-btn:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__btn {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  background-color: var(--filter-btn-background-color);
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--light-main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f;
          box-shadow: 0px 2px 2px 0px #0000001f;
  -webkit-box-shadow: 0px 1px 2px 0px #00000014;
          box-shadow: 0px 1px 2px 0px #00000014;
  -webkit-box-shadow: 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 3px 1px 0px #0000001a;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-transform: capitalize;
  margin-top: 0;
  margin-right: 93px;
  margin-bottom: 0;
  margin-left: 0;
}

.logo--black {
  color: var(--logo-main-color);
}

.logo--white {
  color: var(--light-main-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 60px;
}

/*
.gallery__list {
    display: flex;
    flex-wrap: wrap;
  }
  
.gallery__item {
  
    position: relative;
    
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;

    &:nth-child(3n) {
     margin-right: 0px;}
    &:nth-last-child(-n + 3) {
     margin-bottom: 0px;}  
    
  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &:hover .overlay{
    transform: translateY(0);
  }
  &:hover .overlay__description {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  }
  
  }

  .overlay {
  
    z-index: 1;
  
    display: flex;
    position: absolute;
  
    top: 0;
    left: 0;
  
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
  
    padding: 63px 24px 63px 24px;
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__description {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      color: var( --light-main-color);
      margin: 0;
    
      opacity: 0;
      
    }
   
  }
  
  
  .gallery__link {
  
    text-decoration: none;
    color: var(--main-body-color);
    background-color: var( --light-main-color);
  
  }
  
  .filter {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .card{

    &__wrapper {
      position: relative;
      
      z-index: 2;
    
      background-color: var( --light-main-color);
    
      width: 370px;
      height: 110px;
      padding-top: 20px;
      padding-right: 24px;
      padding-bottom: 20px;
      padding-left: 24px;
      border-bottom: 1px solid #eeeeee;
      border-left: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
    }

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-bottom: 4px;
    }
    &__description {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.03em;
      color: var(--dark-grey);
      margin: 0;
    }

  }
  
  
  
  
  */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--light-main-color);
  border-radius: 4px;
  padding: 40px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.textarea-input {
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 48, 58, 0.4);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.form-title {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.form-modal-label {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 400px;
  line-height: 1.17;
  color: var(--dark-grey);
  margin-bottom: 4px;
}

.form-policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.custom-checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-body-color);
  border-radius: 2px;
  background-color: var(--light-main-color);
  margin-right: 8px;
}

.checkbox:checked + .custom-checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("../Images/icons/icon_check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-policy-description {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.71;
  color: var(--dark-grey);
  margin-bottom: 4px;
}

.form-policy-link {
  color: var(--accent-color);
}

.modal-form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-input {
  width: 100%;
  padding: 12px 42px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  margin-bottom: 10px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input:hover, .modal-form-input:focus {
  border-color: var(--accent-color);
}

.textarea-input {
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  border-radius: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  margin-bottom: 10px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input:hover, .textarea-input:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  bottom: 24px;
  left: 15px;
  fill: var(--logo-main-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.submit{
    display: flex;
  }
  
  .mail-form-footer {
  
    display: inline-block;
    background-color: inherit;
    width: 358px;
    height: 50px;
  
    color:var( --light-main-color);
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  
    padding: 15px 16px;
    margin-right: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }  

}

.icon-send {
    display: inline-block;
    fill: var( --light-main-color);
  }
  
  */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__icon {
  margin-right: 10px;
}

.socials .social__icon:last-child {
  margin-right: 0;
}

.social__link--grey {
  fill: var(--social-link-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--light-main-color);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--grey:hover, .social__link--grey:focus {
  background-color: var(--accent-color);
  fill: var(--light-main-color);
}

.social__icon .social__link--grey:hover,
.social__icon .social__link--grey:focus {
  fill: var(--light-main-color);
}

/*

.header{
    &__border {
        border-bottom: 1px solid #ececec;
      }

    &__container {
        display: flex;
        height: 80px;
        align-items: center;

        & .list:last-child {
            margin-left: auto;
          }
      } 
      
    &__list {
        display: flex;
        margin: 0;
    
        .header__item {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
          }
      }
      
      }  

      &__currentpage {
        color: var(--accent-color);

        &.header__link.link::after {
            position: absolute;
            bottom: 0;
          
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
          
            background-color: currentColor;
          }
      }

      &__link {
        position: relative;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-transform: capitalize;
      
        padding-top: 32px;
        padding-bottom: 32px;
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
    }

    &__contact {
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--dark-grey);
        fill: var(--dark-grey);
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
        &:hover,
        &:focus{
      color: var(--accent-color);
      fill: var(--accent-color);
    }
    
      }

      &__icon {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
      }

}
  
  
  
 
  
  */
@media screen and (max-width: 480px) {
  .hero {
    width: 480px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../Images/background/people.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Images/background/people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
  }
}

.hero__title {
  width: 696px;
  height: 120px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-main-color);
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .hero__title {
    width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 1.61;
  }
}

/*.hero {

    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    background-image:  
    linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) ),
    url(../Images/background/people.jpg);
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
      align-items: center;
      justify-content: center;
    }

    &__title {
      width: 696px;
      height: 120px;
      font-style: normal;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var( --light-main-color);
      text-align: center;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  }
  
  */
@media screen and (max-width: 480px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.benefits__icon {
  height: 120px;
  background-color: var(--filter-btn-background-color);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .benefits__icon {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

.benefits__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .benefits__title {
    margin-bottom: 10px;
  }
}

.benefits__description {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
  margin: 0;
}

@media screen and (max-width: 480px) {
  .benefits__card {
    max-width: 450px;
    height: 226px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

/*.benefits {
    padding-top: 94px;
    padding-bottom: 94px;

    &__icon {
      width: 270px;
      height: 120px;
      background-color: var(--filter-btn-background-color);
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }

    &__card {
      width: 270px;
    }

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__description {
      font-style: normal;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--dark-grey);
      margin: 0;
    }

    &__list &__item {
      margin-right: 30px;
    }

    &__list &__item:last-child {
      margin-right: 0px;
    }
  }


  
  
  */
@media screen and (max-width: 480px) {
  .about {
    display: none;
  }
}

/*.about {
    
    padding-bottom: 94px;
  }
  
  .about__title {
    width: 377px;
    height: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-body-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .about__list {
    justify-content: space-between;
  }
  
  .about__img {
    width: 370px;
    height: 294px;
  
    position: relative;
  }
  
  .about__description {
    display: flex;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var( --light-main-color);
    margin: 0;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    bottom: 0;
  }*/
.team {
  background-color: var(--filter-btn-background-color);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .team {
    padding-top: 60px;
  }
}

.team__title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 480px) {
  .team__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
}

.team__description {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
  margin-bottom: 16px;
}

.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--light-main-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .team__card {
    max-width: 450px;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .team__item {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

/*.team {
    display: flex;
    background-color: var(--filter-btn-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;

    &__title {
      width: 265px;
      height: 42px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
    &__list {
      justify-content: space-between;
    }
    &__item {
      width: 270px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &__name {
      display: inline-block;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      margin-bottom: 10px;
    }
    &__description {
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--dark-grey);
      margin-bottom: 16px;
    }
    &__card {
      display: flex;
      flex-direction: column;
      width: 270px;
      background-color: var( --light-main-color);
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__image {
      margin-bottom: 0px;
    }
  }
  
  
 
  
  
  
  
  */
.clients__title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 480px) {
  .clients__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 480px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__list .client__card {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .client__list .client__card:nth-child(even) {
    margin-right: 0px;
  }
  .client__list .client__card:nth-child(n+5) {
    margin-bottom: 0px;
  }
}

.client__link {
  color: var(--social-link-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px var(--social-link-grey);
  background-color: var(--light-main-color);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 480px) {
  .client__link {
    width: 210px;
    height: 92px;
  }
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__logo {
  fill: currentColor;
}

/*.clients {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      display: flex;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: var(--main-body-color);
      margin-bottom: 50px;
      justify-content: center;
    }
  }
  
  
  .client__list {
    justify-content: center;

    .client__card{
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  
  
  .client__link {
    color: var(--social-link-grey);
    display: flex;
    width: 170px;
    height: 92px;
    display: flex;
    border: solid 1px var(--social-link-grey);
    background-color: var( --light-main-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }
  
  .client__logo {
    fill: currentColor;
  }
  
 
  
  */
/*.filter__list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;

    .filter__item {
      margin-right: 8px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
  */
.footer {
  background-color: var(--background-dark-color);
}

/*.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__title {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var( --light-main-color);
    margin-bottom: 20px;
    margin-right: 154px;
  }

  .footer-wrapper {
    margin-right: 70px;
  }

  .footer__contact {
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
  color: var(--accent-color);
  fill: var(--accent-color);
}

}
  
  
  .address {
    display: flex;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var( --light-main-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);}

}
  .address__wrapper .list {
    flex-wrap: wrap;
  }
  
  .address__wrapper {
    display: inline-block;
    width: 231px;
    height: 81px;
    margin-right: 70px;
    padding: 0;
  }
 
  
  .address__item {
    display: inline-block;
    height: 21px;
    margin-bottom: 9px;

    .list &:last-child {
      margin-bottom: 0;
    }
  }
  
  
  .join {
    width: 206px;
    margin-right: 93px;
  }
  
  .join__link {
    fill: var( --light-main-color);
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
}
  
  */
/*# sourceMappingURL=main.css.map */