:root {

    /*colors*/
    --accent-color: #2196f3;
    --accent-hover: #188CE8;
    --logo-main-color: #000;
    --light-main-color: #ffffff;
    --dark-grey: #757575;
    --background-dark-color: #2f303a;
    --filter-btn-background-color: #f5f4fa;
    --main-body-color: #212121;
    --social-link-grey: #afb1b8;
    
    /*fonts*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    
  }


  