.modal__btn {
    display: flex;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    justify-content: space-around;
    letter-spacing: inherit;
    color: var( --light-main-color);
    background: var(--accent-color);
    cursor: pointer;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-left: auto;
    margin-right: auto;
  
    box-shadow: 0px 2px 2px 0px #0000001f;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: var(--accent-hover);
    
    }

}
 
  .close-modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var( --light-main-color);
    border-color: rgba(0, 0, 0, 0);
  
    outline: 1px solid rgba(0, 0, 0, 0.1);
  
    fill:var( --logo-main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus  {
        cursor: pointer;
        fill: var(--accent-color);
      }
    
  }

  .footer__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter__btn {
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: inherit;
    background-color: var(--filter-btn-background-color);
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: var( --light-main-color);
      background-color: var(--accent-color);
      cursor: pointer;
      box-shadow: 0px 2px 2px 0px #0000001f;
    
      box-shadow: 0px 1px 2px 0px #00000014;
    
      box-shadow: 0px 3px 1px 0px #0000001a;
    
    }  

}
  
