

.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-transform: capitalize;
  
    margin-top: 0;
    margin-right: 93px;
    margin-bottom: 0;
    margin-left: 0;

    &--black {
      color: var( --logo-main-color);
    }
    &--white {
      color: var( --light-main-color);
    }
  }
  

  .footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 60px;
  }
  
  
