
.modal {
  
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

  width: 528px;
  background-color: var( --light-main-color);
  border-radius: 4px;

  padding: 40px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

  .backdrop & {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}



.textarea-input {
    resize: none;
  
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    height: 120px;
    color: rgba(117, 117, 117, 0.5);
  }

.backdrop{
    position: fixed;
    top:0;
    left: 0;
  
    display: flex;
  
    width: 100vw;
    height: 100vh;
  
    background-color:rgba(47, 48, 58, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    
    }

    &.is-hidden .modal {
      transform: translate(-50%, -50%) scale(1.1);
      opacity: 0;
    } 
  }  

.form-title {

    display: block;
  
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  
    text-align: center;
    margin-bottom: 12px;
  }

.form-modal-label {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 400px;
    line-height: 1.17;
    color: var(--dark-grey);
    margin-bottom: 4px;
  
  }

  .form-policy-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;}
    
  .checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
  
  
  .custom-checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-body-color);
    border-radius: 2px;
    background-color: var( --light-main-color);
    margin-right: 8px;
  }
  
  .checkbox:checked+.custom-checkbox-icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url('../Images/icons/icon_check.svg');
    background-size: contain;
    background-origin: border-box;
  }
  
  .form-policy-description{
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 400px;
    line-height: 1.71;
    color: var(--dark-grey);
    margin-bottom: 4px;
  
  }
  
  .form-policy-link {
    color: var(--accent-color);
  }
  
  .modal-form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    
  }
  .modal-form-input{
    width: 100%;
    padding: 12px 42px;
  
    height: 40px;
  
    border-radius: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    margin-bottom: 10px;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover + .modal-form-icon,
  &:focus + .modal-form-icon{
    fill: var(--accent-color);
  }
  &:hover,&:focus{
    border-color: var(--accent-color);
  }
  }
  .textarea-input {
    width: 100%;
    padding: 12px 16px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    margin-bottom: 10px;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      border-color: var(--accent-color);
    }
  }
  
  
  .modal-form-icon {
    position: absolute;
    bottom: 24px;
    left: 15px;
    fill: var( --logo-main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  
 
  
  
  
 