
.link {
    text-decoration: none;
    color: currentColor;
  }

.list {
    
    list-style: none;
    align-items: center;

    @media screen and (min-width: 768px) 
      {display: flex;} 
  }


h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
