

.benefits {
  
  padding-top: 60px;
  padding-bottom: 60px;
  @include mq(desktop){
    padding-top: 94px;
    padding-bottom: 94px;

  }
  
  &__list {
    @include mq(tablet){
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__icon {
    background-color: var(--filter-btn-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    
    margin-bottom: 30px; 
    height: 120px;

    @include mq(tablet){height: 120px;}

    @include mq(desktop){
      width: 270px;
      
    }
   
  }

  &__card {
      @include mq(mobile-only) {
        width: calc(100%-30px);
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
  
      @include mq(tablet-only) {
        width: calc((100% - 30px) / 2);
        margin-right: 30px;
        margin-bottom: 30px;
  
        &:nth-child(2n) {
          margin-right: 0;
        }
  
        &:nth-child(n + 3) {
          margin-bottom: 0;
        }}
      
  
      @include mq(desktop) {
        width: calc((100% - 90px) / 4);
        margin-right: 30px;
  
        &:last-child {
          @include mq(desktop) {
            margin-right: 0px;
          }
        }
      }}



  &__card:last-child{
    margin-bottom: 0;
    
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    @include mq(tablet){text-align: left;}
  }
  &__description {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    margin: 0;
  }
}






/*
.benefits {
    padding-top: 94px;
    padding-bottom: 94px;

    &__icon {
      width: 270px;
      height: 120px;
      background-color: var(--filter-btn-background-color);
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }

    &__card {
      width: 270px;
    }

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__description {
      font-style: normal;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--dark-grey);
      margin: 0;
    }

    &__list &__item {
      margin-right: 30px;
    }

    &__list &__item:last-child {
      margin-right: 0px;
    }
  }


  */
  
