
.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  &__icon {
    background-color: var(--filter-btn-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    
  }

  &__card {
    max-width: 450px;
    margin-bottom: 30px;
  }
  &__card:last-child{
    margin-bottom: 0;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  &__description {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    margin: 0;
  }
}







/*.benefits {
    padding-top: 94px;
    padding-bottom: 94px;

    &__icon {
      width: 270px;
      height: 120px;
      background-color: var(--filter-btn-background-color);
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }

    &__card {
      width: 270px;
    }

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__description {
      font-style: normal;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--dark-grey);
      margin: 0;
    }

    &__list &__item {
      margin-right: 30px;
    }

    &__list &__item:last-child {
      margin-right: 0px;
    }
  }


  
  
  */