/*.filter__list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;

    .filter__item {
      margin-right: 8px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
  */