



.header{

   
    &__border {
        border-bottom: 1px solid #ececec;
      }

    &__container {
        display: flex;
        height: 60px;
        align-items: center;
        & .list:last-child {
            margin-left: auto;
          }
      } 
      
    &__list {
        display: flex;
        margin: 0;
        .header__item {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
          }
      }
      }  

      &__currentpage {
        color: var(--accent-color);

        &.header__link.link::after {
            position: absolute;
            bottom: 0;
          
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
          
            background-color: currentColor;
          }
      }

      &__link {
        position: relative;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-transform: capitalize;
      
        padding-top: 32px;
        padding-bottom: 32px;
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (max-width:767px) {display: none;} 
      
        &:hover,
        &:focus {
          color: var(--accent-color);
 
        }
    }

    &__contact {
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--dark-grey);
        fill: var(--dark-grey);

        @media screen and (max-width:767px) {display: none;} 
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
        &:hover,
        &:focus{
      color: var(--accent-color);
      fill: var(--accent-color);
    }
    
      }

      &__icon {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
      }

}
