.hero {

    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    background-image:  
    linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) ),
    url(../Images/background/people.jpg);
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
      align-items: center;
      justify-content: center;
    }

    &__title {
      width: 696px;
      height: 120px;
      font-style: normal;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var( --light-main-color);
      text-align: center;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  }
  
  