
.team {
  background-color: var(--filter-btn-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    width: 265px;
    height: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  &__description {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    margin-bottom: 16px;
  }

  &__image {
    margin-bottom: 0;
  }
  &__name {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    background-color: var( --light-main-color);
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__item {
    max-width: 450px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0px;
    }  
  }
}





/*.team {
    display: flex;
    background-color: var(--filter-btn-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;

    &__title {
      width: 265px;
      height: 42px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
    &__list {
      justify-content: space-between;
    }
    &__item {
      width: 270px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &__name {
      display: inline-block;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      margin-bottom: 10px;
    }
    &__description {
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--dark-grey);
      margin-bottom: 16px;
    }
    &__card {
      display: flex;
      flex-direction: column;
      width: 270px;
      background-color: var( --light-main-color);
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__image {
      margin-bottom: 0px;
    }
  }
  
  
 
  
  
  
  
  */